<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Vlk's Meme</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/template.css">

</head>
<body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<h1>Random Meme Generator</h1>
<p>runnin' on an API from reddit</p>
<img src={{meme}} class="center">
<br></br>
<form action="/" method="get">
    <button type="submit" class="btn btn-secondary" action="reload">Gimme More</button>
</form>

</body>
</html>